/* font-family: 'Satoshi', sans-serif;
font-family: 'Tabular', sans-serif;
font-family: 'Cabinet Grotesk', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/*!!!!!!!>>>>>>>>>>SECTION 1<<<<<<<!!!!!!!*/

.hero {
  position: relative;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  height: 100vh;
  background-image: url(/portfolio/assets/background.png);
  background-size: cover;
  padding-top: 15px;

}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.516) 50%, black 100%);
  pointer-events: none;
  z-index: 1;
}


@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 1.2s ease-out forwards; */

/*!!!!!!!>>>>>>>>>>NAVBAR SECTION<<<<<<<!!!!!!!*/

.navbar {

  position: fixed;
  top: 15px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px 4rem;
  border-radius: 50px;
  box-shadow: 0px 2px 15px black;
  background-color: rgba(255, 255, 255, 0.029);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;



}

.nav_middle {
  margin-left: 50px;
}

ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 1.2s ease-out forwards;
}

.nav_middle {
  align-self: center;
  justify-self: center;
}

.logo {
  animation: pulse 3s ease-in-out infinite;
  transition: all 0.3s ease;
  opacity: 10;

}

@keyframes pulse {

  0%,
  100% {
    opacity: 80%;
    transform: scale(1);
  }

  50% {
    opacity: 100;
    transform: scale(1.05);
  }
}

.navlinks {
  position: relative;
  padding: 11px 22px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.2s ease-in;
}

.navlinks:hover {
  text-shadow: 0 0 10px #ffffff, 0 0 15px #ffffff9f, 0 0 20px #ffffff4f;
  color: #fff;
}

.navlinks:focus {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.084);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.194);
}


.navlinks::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.navlinks:hover::before {
  width: 80%;
  left: 10%;
}

.logo {
  width: 70px;
  height: 70px;
}



/*!!!!!!!>>>>>>>>>>INTRO SECTION<<<<<<<!!!!!!!*/



.intro {
  display: flex;
  justify-content: space-between;
  margin: 50px 80px;
  gap: 10px;
}

.item1 {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
  height: 70vh;
  font-family: 'Cabinet Grotesk', sans-serif;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(2px);
  box-shadow: 0px 3px 25px black;
  border-radius: 15px;
}

.item1 h1 {
  margin: 0;
  font-size: 80px;
}

.item1 h2 {
  margin-top: 20px;
  padding-left: 5px;
  font-size: 35px;
}

.item1 h4 {
  font-family: 'Tabular', sans-serif;
  font-size: 15px;
  font-weight: 500;
}


.cta {
  font-family: 'Tabular', sans-serif;
  font-weight: 800;
  margin-top: 50px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: 90%;
  border-radius: 10px;
  padding: 11px 22px;
  text-decoration: underline;
  transition: all 0.2s ease;
  animation: myAnim 2s ease 2s 1 normal forwards;
}

.cta:hover {
  text-decoration: none;
  font-size: 20px;
  background-color: #b92e35;
  color: #03122f;
}



@keyframes myAnim {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

.item2 {
  position: relative;
  height: 70vh;
  width: auto;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.myimg {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}


.backimg {
  animation: pulseanim 3s ease 0s infinite normal forwards;
  z-index: 1;
}

@keyframes pulseanim {
  0% {
    opacity: 0.8;
    transform: scale(0.2);
  }

  80% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(2.2);
  }
}

.foreimg {
  z-index: 2;
  animation: regpulseanim 3s ease .8s infinite normal forwards;
}

@keyframes regpulseanim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.item3 {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  height: 60vh;
  font-family: 'Cabinet Grotesk', sans-serif;
  gap: 0px;
}

.item3p1,
.item3p2 {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(2px);
  box-shadow: 0px 3px 25px black;
  border-radius: 15px;

}

.item3 h1 {
  font-family: 'Satoshi', sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 70px;
}

.dev {
  letter-spacing: 13.5px;
  margin-left: 10px;
}

.item3 h4 {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 15px;
}


.gitlogo {

  margin-top: 5px;
  text-decoration: none;


}

.gitlogo i {
  color: #b92e35;
  margin-top: 5px;
  text-decoration: none;
  font-size: 30px;
  background-color: #03122f;
  border-radius: 50%;
  padding: 5px;
  transition: all 0.2s ease;
}

.gitlogo i:hover {
  text-decoration: none;
  background-color: #b92e35;
  color: #03122f;
}





.item1,
.item3p1,
.item3p2 {
  margin-top: 45px;
  opacity: 1;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  transition: transform 0.5s ease;
  z-index: 1;
}

.item1:hover,
.item3p1:hover,
.item3p2:hover {
  cursor: default;
  transform: scale(1.03);
}


/* Fade in from left */
.item1 {

  animation-name: fadeInLeft;
  animation-delay: 0s;
}

/* Fade in from bottom */
.item3p1 {
  animation-name: fadeInUp;
  animation-delay: 0s;
}

/* Fade in from right */
.item3p2 {
  animation-name: fadeInRight;
  animation-delay: 0s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ball {
  position: absolute;
  border-radius: 50%;
  background-color: white;

  box-shadow: 0 0 15px white, 0 0 25px white;
  z-index: 1;
  pointer-events: none;
}


.ball1 {
  opacity: 0.6;
  width: 12px;
  height: 12px;
  top: 10%;
  left: 10%;
  z-index: 10;
  animation: moveBall1 10s ease-in-out infinite;
}

.ball2 {
  opacity: 0.2;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 20%;
  animation: moveBall2 10s ease-in-out infinite;
}

.ball3 {
  opacity: 0.7;
  width: 8px;
  height: 8px;
  top: 30%;
  left: 70%;
  z-index: 10;
  animation: moveBall3 10s ease-in-out infinite;
}

.ball4 {
  opacity: 0.9;
  width: 16px;
  height: 16px;
  top: 60%;
  left: 60%;
  animation: moveBall4 10s ease-in-out infinite;
}

.ball5 {
  opacity: 0.5;
  width: 10px;
  height: 10px;
  top: 40%;
  left: 30%;
  z-index: 5;
  animation: moveBall5 10s ease-in-out infinite;
}

@keyframes moveBall1 {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(40vw, 30vh);
  }

  50% {
    transform: translate(-30vw, 40vh);
  }

  75% {
    transform: translate(25vw, -35vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveBall2 {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(-40vw, 40vh);
  }

  45% {
    transform: translate(30vw, -45vh);
  }

  70% {
    transform: translate(-35vw, 25vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveBall3 {
  0% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(25vw, 35vh);
  }

  50% {
    transform: translate(-25vw, 40vh);
  }

  80% {
    transform: translate(30vw, -30vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveBall4 {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(30vw, -40vh);
  }

  50% {
    transform: translate(40vw, 40vh);
  }

  75% {
    transform: translate(-35vw, -30vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveBall5 {
  0% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(-35vw, 30vh);
  }

  60% {
    transform: translate(40vw, -40vh);
  }

  90% {
    transform: translate(-40vw, 40vh);
  }

  100% {
    transform: translate(0, 0);
  }
}



/*!!!!!!!>>>>>>>>>>ABOUT SECTION<<<<<<<!!!!!!!*/


.about {
  height: 100vh;
  background-color: black;
}